.sidenav-container {
  min-width: 220px;
}

.icon-size {
  font-size: 35px;
}

.close-button-position {
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu-icon {
  margin-right: 7px !important;
}

h1 {
  font-size: 2.5rem;
}

.h1,
.title-position {
  position: relative;
  top: 22px;
  text-align: center;
}

.app-icon-sidenav {
  font-size: 3.5rem;
  color: #673ab7;
}

::ng-deep .p-avatar {
  width: 4rem!important;
  height: 4rem!important;
}
