<div class="container-fluid h-100 sidenav-container">
  <!-- Close button -->
  <div class="row h-100">
    <div class="col-12">
      <!-- Close button -->
      <div>
        <button mat-icon-button class="close-button-position" (click)="onCloseSideMenu()">
          <mat-icon class="icon-size">chevron_left</mat-icon>
        </button>
      </div>
      <!-- Logo -->
      <h1 class="title-position">cinema<span class="app-icon-sidenav">_</span></h1>
      <!-- Avatar -->
      <ng-container *ngIf="user$ | async as user;">
        <p-avatar [image]="user.avatar" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
        <p>{{user.name}}</p>
      </ng-container>
      <!-- Menu Items -->
      <mat-nav-list class="pt-5">
        <mat-list-item *ngFor="let item of (menu$ | async)?.items">
          <button mat-icon-button (click)="onNavigateTo(item.link)">
            <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>{{ item.label }}
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>
