.sidenav-container {
  min-width: 220px;
}

.icon-size {
  font-size: 30px;
}

.close-button-position {
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu-icon {
  margin-right: 7px !important;
}
