<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12">
      
    </div>
    <!-- Movies list -->
    <ng-container *ngIf="(loading$ | async) === false; else loading">
      <div *ngFor="let movie of moviesList$ | async" class="col-xl-3 col-12">
        <cinema-card-movie [movie]="movie"></cinema-card-movie>
      </div>
    </ng-container>
  </div>
  <!-- Loading-->
  <ng-template #loading>
    <div class="col-12">
      <cinema-block-template [text]="'cineming...'"></cinema-block-template>
    </div>
  </ng-template>
</div>
