<div class="container-fluid h-100 p-5">
  <div class="row h-100">
    <!-- Movies list -->
    <ng-container *ngIf="(loading$ | async) === false; else loading">
      <div *ngFor="let movie of moviesList$ | async" class="col-xl-3 col-12">
        <cinema-card-movie [movie]="movie" (openMovieProfile)="openMovieProfile($event)"></cinema-card-movie>
      </div>
    </ng-container>
  </div>
  <!-- Loading-->
  <ng-template #loading>
    <div class="col-12">
      <cinema-block-template [text]="'cineming...'"></cinema-block-template>
    </div>
  </ng-template>
</div>
<!-- Action Button -->
<cinema-action-button [icon]="'add'" (onClickAction)="navigateToNewMovie()">
</cinema-action-button>
