<form [formGroup]="loginForm">
  <!-- Email -->
  <mat-form-field appearance="outline" class="w-75">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email">
    <!-- Email Errors -->
    <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
      Formato de mail no válido
    </mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      Email es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <!-- Pass -->
  <mat-form-field appearance="outline" class="w-75">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput formControlName="password">
    <!-- Pass Errors -->
    <mat-error
      *ngIf="loginForm.get('password')?.hasError('minlength') && !loginForm.get('password')?.hasError('required')">
      Mínimo 5 caracteres
    </mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      Contraseña es <strong>obligatoria</strong>
    </mat-error>
  </mat-form-field>
</form>
<!-- Confirm Button -->
<button mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
